<span class="text-muted h3">Container: </span>
<h3 style="display: inline !important;width: 150px">
    <strong>{{ container.Name.slice(1).toUpperCase() }}</strong>
    <small>{{ container.Id | shortTag }}, Created: {{ container.Created | date:'medium' }}</small>
</h3>
<button type="button" class="pull-right btn btn-warning btn-xs" data-ng-disabled="!container.State.Running" data-ng-click="kill()" style="width: 80px;">
    <i class="glyphicon glyphicon-screenshot"></i> Kill</button>
<button type="button" class="pull-right btn btn-danger btn-xs" data-ng-disabled="!container.State.Running" data-ng-click="restart()" style="width: 80px;">
    <i class="glyphicon glyphicon-repeat"></i> Restart</button>
<button type="button" class="pull-right btn btn-warning btn-xs" data-ng-disabled="!container.State.Running" data-ng-click="stop()" style="width: 80px;">
    <i class="glyphicon glyphicon-off"></i> Stop</button>
<button type="button" class="pull-right btn btn-primary btn-xs" data-ng-disabled="container.State.Running" data-ng-click="start()" style="width: 80px;">
    <i class="glyphicon glyphicon-play-circle"></i> Start</button>
<br/>
<button class="pull-right btn-xs btn-danger btn" data-ng-disabled="container.State.Running" data-ng-click="destroy()" style="width: 80px">
    <i class="glyphicon glyphicon-remove-circle"></i> Destroy</button>
<button class="pull-right btn-xs btn-info btn" data-ng-click="export()" style="width: 80px;margin-right: 80px">
    <i class="glyphicon glyphicon-download-alt"></i> Export</button>
<button class="pull-right btn-xs btn-success btn" data-ng-click="commit()" style="width: 80px;">
    <i class="glyphicon glyphicon-ok"></i> Commit</button>
<table class="table" style="width: auto">
    <tr>
        <td>
            <dl class="dl-horizontal detail-data">
                <dt>Hostname</dt>
                <dd>{{ container.Config.Hostname }} <strong>{{ container.Config.Domainname }}</strong></dd>
                <dt>Image</dt>
                <dd><a href="#!/image/{{ container.Image| shortTag }}">{{ container.Config.Image }}</a></dd>
                <dt>Shared CPUs</dt>
                <dd>{{ container.Confug.CpuShares || 'All' }}</dd>
                <dt>Memory / SWAP</dt>
                <dd>{{ container.Config.Memory | calcMem:'bytes':2 }} / {{ container.Config.MemorySwap | calcMem:'bytes':2}}</dd>
                <dt>Command</dt>
                <dd>{{ container.Path }} {{ container.Args.join(' ') }}</dd>
            </dl>
        </td>
        <td>
            <dl class="dl-horizontal detail-data">
                <dt>Networking</dt>
                <dd><i data-ng-class="{'glyphicon-unchecked text-muted': container.Config.NetworkDisabled, 'glyphicon-check text-success': !container.Config.NetworkDisabled}" class="glyphicon"></i></dd>
                <dt>Publish All Ports</dt>
                <dd><i data-ng-class="{'glyphicon-unchecked text-muted': !container.HostConfig.PublishAllPorts, 'glyphicon-check text-success': container.HostConfig.PublishAllPorts}" class="glyphicon"></i></dd>
                <dt>IPv4 Address</dt>
                <dd>{{ container.NetworkSettings.IPAddress }}/{{ container.NetworkSettings.IPPrefixLen }}</dd>
                <dt>Gateway</dt>
                <dd>{{ container.NetworkSettings.Gateway }}</dd>
                <dt>DNS</dt>
                <dd>{{ container.Config.Dns ? container.Config.Dns.join(', ') : '8.8.8.8, 8.8.4.4' }}</dd>
            </dl>
        </td>
        <td>
            <dl class="dl-horizontal detail-data">
            </dl>
        </td>
    </tr>
</table>

    
<tabset>
    <tab heading="Info" active="activeTab[0]" select="activeTab[0] = true;">
        <table class="table" style="width: 800px;">
            <thead>
                <tr><th class="h4 text-center" style="width: 400px;">Mounted volumes</th>
                    <th class="h4 text-center" style="width: 400px;">Published ports</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table" style="width: 100%">
                            <thead>
                                <tr><th>From</th><th>To</th><th>RO/RW</th></tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(to, from) in container.Volumes">
                                    <td style="max-width: 100px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <span data-popover="{{ from }}" data-popover-trigger="mouseenter">{{ from }}</span>
                                    </td>
                                    <td>
                                        <span data-popover="{{ to }}" data-popover-trigger="mouseenter">{{ to }}</span>
                                    </td>
                                    <td>{{ container.VolumesRW[to] ? 'RW' : 'RO' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table" style="width: 100%">
                            <thead>
                                <tr><th>Local Port/Protocol</th><th>Host ip:port</th></tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="(port, binding) in container.HostConfig.PortBindings" style="max-width: 100px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <td>{{ port }}</td><td>{{ binding[0].HostIp }}:{{ binding[0].HostPort }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Process list" active="activeTab[1]" select="activeTab[1] = true;processList(1)" data-disabled="!container.State.Running">
        <table class="table prev" style="width: auto;">
            <thead>
            <tr>
                <th data-ng-repeat="Title in processList.Titles" style="min-width: 70px;">{{ Title }}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="process in processList.Processes">
                <td data-ng-repeat="col in process track by $index">{{ col }}</td>
            </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Terminal" active="activeTab[2]" select="activeTab[2] = true;attachConsole()" data-disabled="!container.State.Running">
        <pre><div id="terminal" style="line-height: 1"></div></pre>
        <button data-ng-click="openInNewWindow()" class="btn">Open in new window</button>
    </tab>
    <tab heading="Log" active="activeTab[3]" select="activeTab[3] = true;logs()">
        <pre><code id="logTerminal" style="line-height: 1;height: 200px;"></code></pre>
    </tab>
    <tab heading="Changes" active="activeTab[4]" select="activeTab[4] = true;getChanges()">
        <dc-grid data-options="changesOpts" data-items="changes" style="padding: 0;"></dc-grid>
    </tab>
    <tab heading="Json Config" active="activeTab[5]" select="activeTab[5] = true">
        <json-explorer json-data="{{container}}" collapsed="true"></json-explorer>
    </tab>
</tabset>
