<div class="modal-header">
    <h3>Create container</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <tabset>
            <tab heading="Basic">
                <div class="form-group"><label for="Name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="Name" placeholder="Container Name"
                                                  data-ng-model="input.name">
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <ui-select data-ng-model="input.Image" theme="selectize" reset-search-input="false" style="width: 300px;">
                            <ui-select-match placeholder="Enter image name...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="img in images | filter: $select.search"
                                    refresh="getImages($select.search)">
                                <span data-ng-bind-html="img | highlight: $select.search"></span>
                                <!--<small data-ng-bind-html="tag.layer | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                        <ui-select></ui-select>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Env Variables</label>
                    <div class="col-sm-10">
                        <tags-input data-ng-model="input.Env" placeholder="KEY=value"></tags-input>
                    </div>
                </div>
                <div class="form-group"><label for="Entrypoint" class="col-sm-2 control-label">Entry Point</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="Entrypoint" placeholder="Entry Point" data-ng-model="input.Entrypoint">
                    </div>
                </div>
                <div class="form-group"><label for="Cmd" class="col-sm-2 control-label">Command</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="Cmd" placeholder="Cmd" data-ng-model="input.Cmd">
                    </div>
                </div>
            </tab>
            <tab heading="Network">
                <div class="form-group"><label for="Hostname" class="col-sm-2 control-label">Hostname</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="Hostname" placeholder="Hostname"
                                                  data-ng-model="input.Hostname">
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">PortSpecs</label>
                    <div class="col-sm-10">
                        <tags-input data-ng-model="input.PortSpecs" placeholder="ip:hostPort:containerPort | ip::containerPort | hostPort:containerPort"></tags-input>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Dns</label>
                    <div class="col-sm-10">
                        <tags-input data-ng-model="input.Dns" placeholder="XX.XX.XX.XX"></tags-input>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Exposed Ports</label>
                    <div class="col-sm-10">
                        <tags-input data-ng-model="input.ExposedPorts" ></tags-input>
                    </div>
                </div>
            </tab>
            <tab heading="Advanced">
                <div class="form-group"><label for="Memory" class="col-sm-2 control-label">Memory</label>

                    <div class="col-sm-10"><input type="text" class="form-control" id="Memory" placeholder="Memory"
                                                  data-ng-model="input.Memory">
                    </div>
                </div>
                <div class="form-group"><label for="MemorySwap" class="col-sm-2 control-label">Swap</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="MemorySwap" placeholder="MemorySwap"
                                                  data-ng-model="input.MemorySwap">
                    </div>
                </div>
                <div class="form-group"><label for="User" class="col-sm-2 control-label">User</label>

                    <div class="col-sm-10"><input type="text" class="form-control" id="User" placeholder="User"
                                                  data-ng-model="input.User">
                    </div>
                </div>
                <div class="form-group"><label for="WorkingDir" class="col-sm-2 control-label">Working Dir</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="WorkingDir" placeholder="WorkingDir"
                                                  data-ng-model="input.WorkingDir">
                    </div>
                </div>
            </tab>
            <tab heading="Volumes">
                <div class="form-group"><label class="col-sm-2 control-label">Volumes</label>
                    <div class="col-sm-10">
                        <tags-input data-ng-model="input.Volumes" placeholder="/path/from/:/path/to:rw"></tags-input>
                    </div>
                </div>
                <div class="form-group"><label for="VolumesFrom" class="col-sm-2 control-label">Volumes From</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="VolumesFrom" placeholder="Volumes From"
                               data-ng-model="input.VolumesFrom"
                               typeahead="img for img in getContainer($viewValue) | filter:$viewValue">
                    </div>
                </div>
            </tab>
        </tabset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-ng-click="ok()">Create Container</button>
    <button class="btn btn-warning" data-ng-click="close()">Cancel</button>
</div>
