<span class="text-muted h3">Image: </span>
<h3 style="display: inline !important;width: 150px">
    <strong>{{ image.info.RepoTags[0].toUpperCase() }}</strong>
    <small>{{ image.Id | shortTag }}, Created: {{ image.Created | date }}</small>
</h3>
<button class="pull-right btn btn-danger btn-xs" data-ng-click="destroyImage()" style="width: 80px">
    <i class="glyphicon glyphicon-remove-circle"></i> Destroy</button>
<button class="pull-right btn btn-success btn-xs" data-ng-click="pushImage()" style="width: 80px;margin-right: 2px;">
    <i class="glyphicon glyphicon-cloud-upload"></i> Push</button>
<!--
<button type="button" class="pull-right btn btn-primary btn-xs" data-ng-click="push()" style="width: 80px;margin-right: 80px;">
    <i class="glyphicon glyphicon-upload"></i> Push</button>
-->
<hr/>
<table>
    <tr>
        <td>
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>{{ image.Id| shortTag }}</dd>
                <dt>OS</dt>
                <dd>{{ image.Os }} - {{ image.Architecture }}</dd>
                <dt>Size</dt>
                <dd>{{ image.Size || image.info.VirtualSize | calcMem }} ({{ image.Size | calcMem }})</dd>
                <dt>Created</dt>
                <dd>{{ image.Created | date }}</dd>
                <dt>Parent</dt>
                <dd><a data-ng-href="#!/image/{{ image.Parent| shortTag }}">{{ image.Parent| shortTag }}</a></dd>
                <dt>Container</dt>
                <dd><a data-ng-href="#!/container/{{ image.Container| shortTag }}">{{ image.Container| shortTag }}</a></dd>
            </dl>
        </td>
        <td style="vertical-align: text-top;">
            <dl class="dl-horizontal">
                <dt>Author</dt>
                <dd>{{ image.Author }}</dd>
                <dt>Working Dir</dt>
                <dd>{{ image.Config.WorkingDir }}</dd>
                <dt>Command</dt>
                <dd>{{ image.history[0].CreatedBy || ''}}</dd>
                <dt>Comment</dt>
                <dd>{{ image.Comment }}</dd>
            </dl>
        </td>
        <td style="vertical-align: text-top;width: 20%;">Tags: <tags-input data-ng-model="image.info.RepoTags"
                              placeholder="tag"
                              data-on-tag-added="onTagAdded($tag)"
                              data-on-tag-removed="onTagRemoved($tag)"
            ></tags-input>
        </td>
    </tr>
</table>
<hr/>
<h3>History:</h3>
<dc-grid data-options="imageHistoryOpts" data-items="image.history"></dc-grid>
