<div class="modal-header">
    <h3>Push Image <strong>{{ input.name }}</strong> <small>{{ instance.ID| shortTag }}</small></h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Image tag</label>
        <ui-select data-ng-model="input.tag" theme="bootstrap" reset-search-input="false">
            <ui-select-match placeholder="Select tag...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="tag in tags track by $index | filter: $select.search"
                               refresh="getTags($select.search)">
                <span data-ng-bind-html="tag | highlight: $select.search"></span>
                <!--<small data-ng-bind-html="tag.layer | highlight: $select.search"></small>-->
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()">Push</button>
    <button class="btn btn-warning" data-ng-click="close()">Cancel</button>
</div>
