<div class="modal-header">
    <h3>Import image from source</h3>
</div>
<div class="modal-body">
    <form action="{{ url() }}" method="post" role="form" id="uploadForm"></form>
    <div class="form-group">
        <label for="source" class="control-label">Source</label>
        <input type="text" id="source" class="form-control" data-ng-model="input.fromSrc"/>
        <input type="file"/>
    </div>
    <div class="form-group">
        <label for="repo" class="control-label">Repository</label>
        <input type="text" id="repo" class="form-control" data-ng-model="input.repo"/>
    </div>
    <div class="form-group">
        <label for="tag" class="control-label">Tag</label>
        <input type="text" id="tag" class="form-control" data-ng-model="input.tag"/>
    </div>
    <div class="form-group">
        <label for="registry" class="control-label">Registry</label>
        <input type="text" id="registry" class="form-control" data-ng-model="input.registry"/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="uploadForm">Import</button>
    <button class="btn btn-warning" ng-click="close()">Cancel</button>
</div>
